---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102q362RG5h2YQBOlvAvbyE5\",\n  \"livemode\": false,\n
        \ \"created\": 1382993598,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102q362RG5h2YQBOPbJIcnXj\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 10,\n    \"exp_year\": 2014,\n    \"fingerprint\": \"s8iT9BUR4LQPxvYs\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 28 Oct 2013 20:53:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102q362RG5h2YQBOlvAvbyE5&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_102q362RG5h2YQBOlnJvVP9X\",\n  \"object\": \"charge\",\n
        \ \"created\": 1382993599,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_102q362RG5h2YQBOPbJIcnXj\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 10,\n    \"exp_year\":
        2014,\n    \"fingerprint\": \"s8iT9BUR4LQPxvYs\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_102q362RG5h2YQBO0PWZR00B\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"a valid charge\",\n  \"dispute\": null,\n  \"metadata\":
        {}\n}\n"
  recorded_at: Mon, 28 Oct 2013 20:53:10 GMT
recorded_with: VCR 2.6.0
