---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000%200000%200000%200002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102vFw2RG5h2YQBOgRpZ86Vd\",\n  \"livemode\": false,\n
        \ \"created\": 1384194526,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102vFw2RG5h2YQBOfM4gCcKc\",\n
        \   \"object\": \"card\",\n    \"last4\": \"0002\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 10,\n    \"exp_year\": 2018,\n    \"fingerprint\": \"h6kxggBMm30o4ou3\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 11 Nov 2013 18:28:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102vFw2RG5h2YQBOgRpZ86Vd&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_102vFw2RG5h2YQBOHqSaUyXB\"\n  }\n}\n"
  recorded_at: Mon, 11 Nov 2013 18:28:41 GMT
recorded_with: VCR 2.6.0
