!!! 5
%html(lang="en-US")
  %body
    %p You are invited by #{@invitation.inviter.full_name} to check out this cool app!
    %p= @invitation.message
    %p= link_to "Accept this invitation", register_with_token_path(@invitation.token)
