---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102wYn2RG5h2YQBOz2d7tEqA&email=john%40example.com&plan=standard
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1384495310,\n  \"id\":
        \"cus_2wYnmFtqdFNA15\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"john@example.com\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"sub_2wYnK4KfcbruHR\",\n    \"plan\":
        {\n      \"interval\": \"month\",\n      \"name\": \"The Standard Plan\",\n
        \     \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\": \"standard\",\n
        \     \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null,\n      \"metadata\": {}\n    },\n    \"object\":
        \"subscription\",\n    \"start\": 1384495310,\n    \"status\": \"active\",\n
        \   \"customer\": \"cus_2wYnmFtqdFNA15\",\n    \"cancel_at_period_end\": false,\n
        \   \"current_period_start\": 1384495310,\n    \"current_period_end\": 1387087310,\n
        \   \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\": null,\n
        \   \"canceled_at\": null,\n    \"quantity\": 1,\n    \"application_fee_percent\":
        null\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2wYnmFtqdFNA15/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_102wYn2RG5h2YQBOfM7wTxzP\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 7,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"s8iT9BUR4LQPxvYs\",\n        \"customer\": \"cus_2wYnmFtqdFNA15\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_102wYn2RG5h2YQBOfM7wTxzP\"\n}\n"
  recorded_at: Fri, 15 Nov 2013 06:01:51 GMT
recorded_with: VCR 2.6.0
