---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102wYn2RG5h2YQBOH92XhpMj&email=john%40example.com&plan=standard
    headers:
      Authorization:
      - Bearer sk_test_XmIuuQNe86jvJdgBj4z4zlOS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Fri, 15 Nov 2013 06:01:41 GMT
recorded_with: VCR 2.6.0
